@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .promo{
    padding-right: 40px;
    padding-left: 40px;
    background-position: 130% 50%;
  }
  .sidepanel {
    top: 10px;
    right: -65px;
    left: unset;
  }

  .promo__title {
    font-size: 36px;
  }

  .hamburger {
    right: 10px;
  }

  .about {
    &__wrapper {
      grid-template-columns: 315px 470px;
      justify-items: center;
      justify-content: start;
      padding-left: 40px;
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2,350px);
      justify-content: space-evenly;
      padding: 0 50px 0 50px;
    }
  }
  .stack {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2,350px);
      justify-items: end;
      justify-content: space-evenly;
    }
  }
  .portfolio {
    &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,380px);
    row-gap: 25px;
    justify-content: space-around;
    align-items: center;
    }
    &__item {
      margin: 35px;
    }
    &__item-w {
      row-gap: 50px;
      display: grid;
      grid-template-columns: 345px 500px;
      margin-top: 75px;
      padding: 0 25px 0 25px;
      justify-content: space-around;
      img {
        max-width: 500px;
      }
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 300px 543px;
      justify-content: space-between;
      padding: 0 30px 0 30px;
    }
    &__photo {
      margin-right: 30px;
    }
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .hamburger {
    right: 140px;
  }

  .sidepanel {
    top: 194px;
    right: 60px;
    left: unset;
  }

  .promo__title {
    font-size: 24px;
  }

  .promo__link {
    padding-left: 5px;
    margin-top: 25px;
  }

  .promo__buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__wrapper {
    grid-template-columns: 259px 274px;
    justify-items: center;
    justify-content: start;
    padding-left: 0px; 
    column-gap: 40px;
  }

  .about__skills {
    display: grid;
    grid-template-columns: 565px; //TODO: look if here can be centered elems;
    row-gap: 60px;
  }

  .about__text {
    font-size: 15px;
  }

  .promo {
    background-position: 0% -10%;
  }

  .resume__wrapper {
    grid-template-columns: 400px;
    justify-content: center;
    padding: 0;
  }

  .resume__column {
    margin-top: 25px;
  }

  .stack__subtitle {
    font-size: 36px;
  }

  .stack__wrapper {
    grid-template-columns: repeat(2, 200px);
  }

  .portfolio__wrapper {
    grid-template-columns: 380px;
    justify-content: start;
    padding-left: 100px;
  }

  .portfolio__item-w {
    grid-template-columns: 500px;
    justify-content: start;
  }

  .contacts__photo img {
    display: none;
  }

  .contacts__wrapper {
    grid-template-columns: 500px;
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media(max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

